edit

<h1>Clean Up List</h1>

<h2>choose items to remove from list</h2>
<h3>Please note, if you "uncheck" a completed task, it will stay completed on your to-do list.</h3>

<form action="todos/update" method="post">
    <h2>Current To Dos</h2> 
    <% @items.each do |item|%>
      <dl>
        <dt><label for="thing_to_do">Thing To Do</label>
        <input type="string" name="title" value="<%=item.title%>"></input></dt>
        
        <dd><label for="description">Description</label>
        <input type="text" name="description" value="<%=item.description%>">
        </input></dd>
        
        <dd><label for="category">Category</label>
        <select name = "category">
            <option disabled>Choose a Category</option>
            <% @categories.each do |cat| %>
                <option value="<%= cat.id %>"><%= cat.name %>
                </option>
            <% end%>
        </select></dd>
        
        <dd><label for="assigned_to">Assigned To</label>
        <select name = "assigned">
            <option disabled>Assigned to...</option>
            <% @users.each do |user| %>
                <option value="<%= user.id %>"><%= user.name %>
                </option>
            <% end%>
        </select>
        
        <dd><label for "completed">Completed?</label>
        ###radial buttons Complete/Incomplete
        <input></input></dd>
        
      </dl>
    <%end%>
    <p></p>
    <p></p>
    <input type="Submit" value="UPDATE THE LIST"></input>
</form>

<h2>choose items to remove from list</h2>
<form action="/todos/delete" method="post">
    <h2>Delete-able To Dos</h2> 
    <% @items.each do |item|%>
      <dl>
        <dt><input type="checkbox" name="items[]" value="<%= item.id %>">
        <label><b><%=item.title%></b></dt>
        <dd> <%=item.description%> </dd>
      </dl>
    <%end%>
    <p></p>
    <p></p>
    <input type="Submit" value="REMOVE ITEMS FROM LIST"></input>
</form>