<h1>To Do List for <%=@currentuser.name%></h1>


<%if @items%>
  <form action="/updatelist" method="post">
      <h2>Current To Dos</h2> 
      <% @items.each do |item|%>
        <dl>
          <dt><input type="checkbox" name="items[]" value="<%= item.id %>"
          <%= "checked" if item.completed == true%>>
          <label><b><%=item.title%></b></dt>
          <dd> <%=item.description%> </dd>
        </dl>
      <%end%>
      <p></p>
      <p></p>
      <input type="Submit" value="UPDATE LIST"></input>
  </form>
<%end%>
<p></p>
<p></p>
<p></p>
<p></p>
<form action="/newitem" method="post">
  <legend><h2>New To Do</h2></legend>
  <label for="thing_to_do">Thing To Do</label>
  <input type="string" name="title"></input>
  <label for="description">Description</label>
  <input type="text" name="description"></input>
  <input type="hidden" name="user_id" value="<%=@currentuser.id%>"></input>
  <input type="submit" value="Add to List!"></input>
</form>

<p></p>
<p></p>

<form action="/todos/delete" method="get">
  <input type="Submit" value="Clean Up This List"></input>
</form>